<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title><%= title %></title>
</head>
  <body>
    <!-- header -->
    <%- include('./partials/header.ejs') %>
    <main>
      <section>
          <section class="carousel">
              <img src="/images/jpg/disable-xxl.jpg" alt="cover-page">
          </section>
          <section class="categories">
              <h2>Categorías</h2>
              <article class="categories_inner">
                <% for (let i = 0; i < categories.length; i++) { %>
                  <div class="categories_inner_category">
                    <div>
                        <a href="/shop"><img class="categories_inner_category_img" src="/images/jpg/disable-category-circle.jpg" alt=""></a>
                    </div>
                    <span><a href="/shop"><%= categories[i] %> </a></span>
                  </div>
                <% } %>
              </article>
          </section>
          <% for (let i = 0; i < subTitle.length; i++) { %>
            <section class="<%= subTitle[i] %>">
              <h2><%= subTitle_title[i] %></h2>
              <article>
                <% for (let i = 0; i < 10; i++) { %>
                  <% if ( subTitle_title[i] == subTitle_title[0]) {%>
                    <% if ( trendProduct[i] == null) {%>
                    <div class="products" id="product">
                      <img class="products_img" src="/images/jpg/img-disable.jpg" alt="">
                      <div class="products_description-inner">
                        <span class="products_description_name">Nombre</span>
                        <span class="products_description_description">Descripción</span>
                        <span class="products_description_price">precio</span>
                      </div>
                    </div>
                    <% } else {%>
                    <div class="products" id="<%= trendProduct[i] %>">
                      <img class="products_img" src="/images/jpg/img-disable.jpg" alt="">
                      <div class="products_description-inner">
                        <span class="products_description_name"><%= trendProduct[i].name %></span>
                        <span class="products_description_description"><%= trendProduct[i].description %></span>
                        <span class="products_description_price"><%= trendProduct[i].price %></span>
                      </div>
                    </div>
                    <% } %>
                  <% } else {%>
                    <% if ( trendProduct[i] == null) {%>
                    <div class="products" id="product">
                      <img class="products_img" src="/images/jpg/img-disable.jpg" alt="">
                      <div class="products_description-inner">
                        <span class="products_description_name">Nombre</span>
                        <span class="products_description_description">Descripción</span>
                        <span class="products_description_price">precio</span>
                      </div>
                    </div>
                    <% } else {%>
                    <div class="products" id="<%= suggestedProduct[i] %>">
                      <img class="products_img" src="/images/jpg/img-disable.jpg" alt="">
                      <div class="products_description-inner">
                        <span class="products_description_name"><%= suggestedProduct[i].name %></span>
                        <span class="products_description_description"><%= suggestedProduct[i].description %></span>
                        <span class="products_description_price"><%= suggestedProduct[i].price %></span>
                      </div>
                    </div>
                    <% } %>
                  <% } %>
                <% } %>
              </article>
            </section>
          <% } %>
      </section>
  </main>
  <!-- footer -->
  <%- include('./partials/footer.ejs') %>
  </body>
</html>
